@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap"); /*Fuente */

* {
  /*Toda la pagina */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* div donde esta todos los elementos */
  font-family: sans-serif;
  overflow-x: hidden;
}
button {
  cursor: pointer;
  font-family: Tahoma, "Segoe UI", Verdana, sans-serif;
  font-weight: bold;
}
/* Ralla amarilla */
.divider {
  height: 8px;
  width: 55%;
  margin-top: 15px; /* añade espacio externo por encima del contenedor de la imagen */
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: auto;
  background-color: rgb(227, 246, 9);
}
/*********estilo general de todo*/
.wrapper {
  width: 100%;
  height: auto;
  background-color: #2a2929;
  color: white;
}
/***********titulo*/
.brand {
  color: rgb(227, 246, 9);
  /*Ponemos en linea las letras del nav con el titulo*/
  margin-top: -7px;
  padding-left: 8%;
}

.brand span {
  color: rgb(227, 246, 9);
}

/********************nav*/
.navbar {
  display: flex; /* que se coloque a la derecha del titulo */
  justify-content: space-between;
  padding: 2em;
  align-items: center; /* Asegura que todos los elementos estén alineados verticalmente */
}
.menu {
  /*que se coloque todo en linea*/
  display: flex;
  padding-right: 40px;
  width: 50%;
  /*que se separen los elementos del nav*/
  justify-content: space-around;
}
.menu li {
  list-style: none;
}
.menu a {
  /* dentro de las pestañas */
  color: white;
  text-decoration: none;
  /*Espacio entre pestañas*/
  padding: 10px 10px;
}
.menu .active {
  /*Cuando pasas el ratón se activa el color del nav */
  color: white;
}

.menu a:hover {
  background-color: rgb(227, 246, 9);
  color: black; /*color texto nav cuando estas encima*/
  transition: ease-in 0.5s; /*efecto cuando pasas el ratón encima de las pestañas del nav*/
}
/* Estilo del botón de hamburguesa */
.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: relative; /* Posicionamiento relativo dentro del navbar */
  z-index: 2; /* Asegura que el botón esté sobre el menú desplegado */
}
/********************fin nav*/
/********************main*/
.main {
  /*contenedor de información*/
  margin-left: 10%;
  background-color: #2a2929;
  color: white;
  width: 80%;
  display: flex;
  font-size: 18px;
  align-items: center; /* Asegura que los elementos hijos ocupen toda la altura */
  justify-content: start; /* Separa máximo los elementos hijo */
  /* overflow: hidden; */
}
.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 60%;
  height: auto;
}

h1 {
  line-height: 1.6; /* Aumenta la altura de línea a 1.6 veces el tamaño del texto */
  font-size: 2.3em; /* Ajustar según necesidad */
  margin: 0px;
}

span {
  color: rgb(227, 246, 9);
}
h3 {
  font-size: 1.2em; /* Ajustar según necesidad */
}
p {
  margin-top: 1em; /* Añade espacio superior */
}

#imgMain,
#imgHabilidades {
  width: auto; /* 40% del espacio del contenedor `.main` */
  margin: 0;
  margin-left: 35px;
}
/*******Estilo imagen*/
.main img {
  border: 4px solid rgb(227, 246, 9);
}
/*********Estilo botones*/
.download-cv {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(227, 246, 9);
  border: none;
  border-radius: 20px;
  cursor: pointer; /*Para que aparezca la manita*/
  margin-left: 40%;
  margin-top: 8%;
}
.download-cv:hover {
  /*Cuando el cursor esta encima del boton el cambia de color*/
  background-color: #5eacd9;
  box-shadow: none;
  transition: ease-in 0.5s;
}

/*********FINAL wrapper*/
/************************Estilos del formulario de contacto*/
.contact-section {
  background-color: #65817d;
}

.container-contact img {
  width: 750px;
  height: 700px;
  bottom: 0px;
  background-size: cover; /*Para que se adapte la imagen al recuadro */
}
.contact-form {
  width: 100%;
  height: 350px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
  margin-left: auto; /* Centra horizontalmente el div */
  margin-right: auto; /* Centra horizontalmente el div */
}
.form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: #2a2929;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
.form textarea {
  height: 150px;
  background: #2a2929;
  color: white;
  padding: 1.5em;
  border: 1px solid white;
}
/****************Habilidades y capacidades*****************/
.about {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}
.divPAdreHabilidades {
  width: 99%;
}
.habilidad {
  margin-bottom: 20px; /* Espacio entre habilidades */
}
.habilidad-text {
  font-family: "Montserrat", sans-serif;
  color: black;
}

/* Establece el ancho de la barra según el nivel */
.barra-nivel-110 {
  margin-top: 10px;
  height: 20px; /* Altura de la barra */
  width: 150%;
  background-color: red;
}
.barra-nivel-100 {
  margin-top: 10px;
  height: 20px; /* Altura de la barra */
  width: 90%;
  background-color: #6a8eea;
}
.barra-nivel-80 {
  margin-top: 10px;
  height: 20px; /* Altura de la barra */
  width: 80%;
  background-color: #b1b1b1;
}
.barra-nivel-85 {
  margin-top: 10px;
  height: 20px; /* Altura de la barra */
  width: 80%;
  background-color: #209d45;
}
.barra-nivel-105 {
  margin-top: 10px;
  height: 20px; /* Altura de la barra */
  width: 90%;
  background-color: #efaa14;
}
/*Estilos about-conocimientos***************/
.about-Conocimientos {
  margin: 0;
  background-color: #2a2929;
}
.divConocimientos {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}
.divConocimientos h2 {
  padding-top: 20px;
  color: white;
}

.h4-conocimientos {
  color: white;
  margin-bottom: 10px;
}
.h4-conocimientos samp {
  color: #f19413;
  font-size: larger;
  font-family: "Comic Sans MS", sans-serif;
}
.Conocimientos-icono {
  color: white;
}

/******************iconos*/
#padreIconosLenguajes {
  width: 99%;
  margin-left: 5%;
}
.Conocimientos {
  display: inline-block;
  width: auto;
  text-align: center;
  /* superior, derecha, inferior, izquierda */
  margin: 20px 50px 50px 65px;
}

.Conocimientos i {
  /* Estilo  iconos  */
  font-size: 3.2em; /* Tamaño iconos*/
}

.Conocimientos h4 {
  /* Estilo  títulos */
  margin-bottom: 0.5em; /* espacio entre  títulos y los iconos */
}
/*  CREO QUE ESTO SE VA A TOMAR POR VIENTO */
.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: rgb(75, 240, 14);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(red, green, blue, alpha);
}

/*********CREO QUE ESTO SE VA A TOMAR VIENTO*/
