@media (max-width: 1000px) {
  /* INICIO DE INFO Y FOTO PORTADA */
  /* .wrapper{
  background-color: red;
} */
  .main {
    /* background-color: blue; */
    width: 100%;
    margin: 0;
  }
  .info-content {
    /* background-color: greenyellow; */
    width: 98%; /* Ambos contenedores ocupan el ancho completo en pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho */
  }

  h1 {
    font-size: 1.8em; /* Ajustar según necesidad */
    line-height: 1.4; /* Aumenta la altura de línea a 1.6 veces el tamaño del texto */
  }
  h3 {
    font-size: 1.2em; /* Ajustar según necesidad */
  }
  .hrefLinkedIn,
  .downloadCv {
    text-decoration: none;
  }
  .redirectLinkedIn,
  .download-cv {
    float: none; /* Elimina el float para botones en pantallas pequeñas */
    display: block; /* Asegura que el botón ocupe su propio espacio */
    margin: 10px auto; /* Centra el botón horizontalmente */
    font-family: Tahoma, "Segoe UI", Verdana, sans-serif;
    font-weight: bold;
  }
  /* *********infor_personal.html logos CONOCIMIENTOS */
  .divConocimientos {
    /* background-color: blue; */
    width: 80%;
    margin-left: 10%;
  }
  #padreIconosLenguajes{
    /* background-color: brown; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-bottom: 0px;
  }

  .divIcono{
    /* background-color: blue; */
          /* superior, derecha, inferior, izquierda */
    margin: 20px 0 30px 0; 

  }
}
/* Estilos responsive */
@media (max-width: 768px) {


  button {
    font-size: 12px;
  }
  /************HEAD NAV ************/

  .brand {
    padding-left: 0px;
    margin-left: 10px;
  }
  .hamburger {
    display: block;
  }
  /* ***HEADER NAV */
  .menu {
    display: none;
    flex-direction: row;
    position: absolute; /* Posicionamiento absoluto para el menú */
    width: 90%; /* Ocupa todo el ancho del viewport */
    top: 60px; /* Abajo del navbar, ajustar según la altura de tu navbar */
    left: 0; /* Alineado a la izquierda */
    background-color: #2a2929;
    color: black;
    margin-left: 30px;
  }
  .menu li {
    /* background-color: blueviolet; */
    font-size: 12px;
    text-align: center;
    padding: 12px 0;
    display: flex;
  }

  .menu a {
    margin: 10px auto;
    width: 80px;
    height: auto;
    background-color: rgb(227, 246, 9);
    padding: 5px;
    color: black !important;
  }
  .menu a:hover {
    /*Cuando el cursor esta encima del boton el cambia de color*/
    background-color: #5eacd9;
    box-shadow: none;
    transition: ease-in 0.5s;
  }
  .menu.show {
    display: flex;
  }
  /* FINAL DEL HEADER NAV */

  /* INICIO DE INFO Y FOTO PORTADA */
  .main {
    width: 100%;
    margin: 0;
  }
  .main {
    margin-top: 25px;
    /* background-color: red; */
  }

  .info-content {
    /* background-color: greenyellow; */
    width: 98%; /* Ambos contenedores ocupan el ancho completo en pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho */
  }

  h1 {
    font-size: 1.6em; /* Ajustar según necesidad */
    line-height: 1.4; /* Aumenta la altura de línea a 1.6 veces el tamaño del texto */
  }
  h3 {
    font-size: 1em; /* Ajustar según necesidad */
  }
  .hrefLinkedIn,
  .downloadCv {
    text-decoration: none;
  }
  .redirectLinkedIn,
  .download-cv {
    float: none; /* Elimina el float para botones en pantallas pequeñas */
    display: block; /* Asegura que el botón ocupe su propio espacio */
    margin: 10px auto; /* Centra el botón horizontalmente */
    font-family: Tahoma, "Segoe UI", Verdana, sans-serif;
    font-weight: bold;
  }
  #imgMain,
  #imgHabilidades {
    /* width: 98%; */
    margin: 0;
  }

  .about {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
  }
  .about img {
    grid-column: 1 / -1; /* La imagen ocupa toda la columna */
  }

  .about-info {
    grid-column: 1 / -1; /* La información ocupa toda la columna */
  }
  /* ********* INICIO INFO PERSONAL ABOUT */
  .about {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    height: auto;
    width: 80%;
    align-items: center;
    margin-left: 10%;
  }

  .about img {
    width: auto;
    height: auto;
    border: 4px solid rgb(227, 246, 9);
    margin-left: 20%;
  }

  .about-info {
    margin: 0;
    line-height: 1.6;
    height: 95%;
    display: grid;
  }

  .botonSaberMas {
    margin: 10px auto;
  }

  /***************Fin Estilos about*/
  /****************** INICIO CLASIFICACIÓN POR TIPO   'PORFOLIO'  */
  .porfolio {
    display: grid;
    width: auto;
    /* background-color: #2a2929; */
  }

  .portfolio_headings {
    /*Contenedor del titulo*/
    /* margin-left: 10%; */
    width: 80%;
    padding: 10px;
    height: auto;
  }

  .portfolio_headings h2 {
    /*titulo*/
    font-size: 1.5em;
    /* superior, derecha, inferior, izquierda */
    margin: 10px 0px 20px 0px;
  }
  .search-bar {
    margin: 0px;
  }
  .language-selection {
    display: inline;
    height: auto;
    width: 60%;
    /* superior, derecha,inferior, izquierda */
    margin: 30px 0 30px 0;
  }
  /* Estilo base para el label que actuará como contenedor del checkbox */
  .custom-checkbox {
    position: relative;
    margin-right: 20px;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
  }
  .custom-checkbox:hover {
    background-color: #5eacd9;
    box-shadow: none;
    transition: ease-in 0.4s;
  }

  .textoCheckbox {
    color: white;
  }
  /* .portfolio {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  } */
  #botonFiltro {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(227, 246, 9);
    border: none;
    border-radius: 20px;
    cursor: pointer; /*Para que aparezca la manita*/
    margin-left: 1%;
    margin-top: 25px;
  }
  /************* INICIO CARDS *********/
  /* Contenedor  padre de cada carta  */
  .card {
    width: 40%;
    /* superior, derecha, inferior e izquierda */
    margin: 5px 15px 5px 5px;
  }
}



/* Media Query para pantallas de móviles */
@media (max-width: 600px) {
  /* ***HEADER NAV */
  .brand {
    font-size: 12px;
  }
  .hamburger {
    font-size: 25px;
  }

  .menu {
    width: 100%; /* Ocupa todo el ancho del viewport */
    margin: auto;
  }
  .menu li {
    font-size: 11px;
    padding: 10px 0;
  }

  .menu a {
    margin-left: 5px;
    background-color: rgb(227, 246, 9);
  }
  .menu a:hover {
    /*Cuando el cursor esta encima del boton el cambia de color*/
    background-color: #5eacd9;
    box-shadow: none;
    transition: ease-in 0.5s;
  }
  .menu.show {
    display: flex;
  }
  /************** INFORMACIÓN DE PORTADA ***********/
  .main {
    margin-top: 25px;
    margin: 8%;
    height: auto;
    flex-direction: column;
    width: 88%;
  }
  .info-content {
    width: 80%; /* Ambos contenedores ocupan el ancho completo en pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho */
  }

  h1 {
    font-size: 1.8em; /* Ajustar según necesidad */
    line-height: 1.4; /* Aumenta la altura de línea a 1.6 veces el tamaño del texto */
  }
  h3 {
    font-size: 1.2em; /* Ajustar según necesidad */
  }
  .redirectLinkedIn,
  .download-cv {
    float: none; /* Elimina el float para botones en pantallas pequeñas */
    display: block; /* Asegura que el botón ocupe su propio espacio */
    margin: 10px auto; /* Centra el botón horizontalmente */
    font-family: Tahoma, "Segoe UI", Verdana, sans-serif;
    font-weight: bold;
  }

  #imgMain,
  #imgHabilidades {
    width: auto;
    margin: 0;
  }

  /* *******ABOUT INFO PERSONAL */
  .about {
    margin-left: 8%;
    width: 90%;
    margin-bottom: 20px;
  }
  .about img {
    width: auto;
    height: auto;
    border: 4px solid rgb(227, 246, 9);
    margin: 0 auto;
  }
  .botonSaberMas {
    margin: 10px auto;
  }
  /************ESTILOS BUSCADOR POR LENGUAJE********/
  .language-selection {
    height: 100px;
    display: grid;
  }
  /* ************ESTILOS CARDS */
  .card {
    display: block;
    width: 80%;
    height: auto;
    color: aliceblue;
    /* superior, derecha, inferior e izquierda */
    margin: 0 0 20px 0;
  }

  .proyects_details_content {
    height: auto;
    margin-top: 15px;
  }
  /* logo GitHub */
  .card_proyecto_links {
    margin-top: 20px;
  }
  #botonCards {
    /*Estilos boton de las cards*/
    margin-bottom: 5px;
  }
    /* *********infor_personal.html logos CONOCIMIENTOS */
  .about-Conocimientos {
    /* background-color:pink; */
  }
  .divConocimientos {
    /* background-color: greenyellow; */
    width: 80%;
    margin-left: 8%;
  }
  #padreIconosLenguajes{
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
 

}
