body {
    background-color: #21252b; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(#606a7a, #21252b); */
    height: 100%;
}
.tree {
    width: 80%;
    min-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%); /* Standard syntax */
    text-align: center;
}
.fork, .star, .pot {
    margin: 0 auto;
}
.light_pixel {
    display: inline-block;
}
.green {
    background-color: #8dc73f;
}
.red {
    background-color: #ef1c23;
}
.brown {
    background-color: #aa782c;
}
.yellow {
    background-color: #fef102;
}
.blue {
    background-color: #0072bb;
}

@media only screen and (orientation: landscape) {
    .fork, .star, .pot {
        height: 3.2vh;
    }
    .light_pixel {
        width: 3vh;
        height: 3vh;
    }
}

@media only screen and (orientation: portrait) {
    .fork, .star, .pot {
        height: 3.2vw;
    }
    .light_pixel {
        width: 3vw;
        height: 3vw;
    }
}
/* ***********ESTILOS DEL TEXTO DE LAS INSTRUCCIONES  */
.divPAdreiconos {
    /* background-color: aqua; */
    width: auto;
    height: auto;
    display: inline-block;
    /* VERTICAL Y HORIZONTAL */
    margin: 0 10px;
  }
  .icono {
    display: flex;
    height: auto;
    width: 200px;
  }
  .icono p {
    font-family: Tahoma, sans-serif;
    color: white;
  }
  .icono i {
    font-size: 25px;
    margin: 0 5px;
    color: #fef102;
  }
  @media (max-width: 800px) {
    .divPAdreiconos {
      display: flex;
    }
    .icono {
      margin: 0 10px;
    }
    .icono p {
      font-size: small;
    }
    .icono i {
      font-size: 15px;
      margin: 0 2px;
    }
    .tree {
      margin-top: 80px;
    }
  }
  @media (max-width: 650px) {
    .divPAdreiconos {
    }
    .tree {
      margin-top: 100px;
    }
  }

  @media (max-width: 600px) {
    .divPAdreiconos {
      margin: 0;
      display: grid;
      grid-template-columns: 190px 190px 150px;
      gap: 5px;
    }
    .icono {
      height: auto;
      width: auto;
      margin: 0;
    }
  }
  @media (max-width: 600px) {
    .divPAdreiconos {
      margin: 0;
      display: grid;
      grid-template-columns: 49% 49%;
      gap: 8px;
    }
    .icono {
      height: auto;
      width: auto;
      margin: 0;
    }

    .tree {
      margin-top: 70px;
    }
  }